<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/admin-dashboard.css">
</head>
<body>
    <p>Admin's dashboard</p>
    <div class="container">
        <h1>Admin Page</h1>
    
        <!-- File Upload Form -->
        <form class="file-upload" method="post" action="/upload" enctype="multipart/form-data">
          <label for="file">File:</label>
          <input type="file" name="file" id="file">
          <br>
          <label for="title">Title:</label>
          <input type="text" name="title" id="title">
          <br>
          <label for="description">Description:</label>
          <textarea name="description" id="description"></textarea>
          <br>
          <input type="submit" value="Upload">
        </form>
    
        <!-- File Info -->
    <% if (files && files.length > 0) { %>
        <% files.forEach((file) => { %>
            <div class="file-info">
                <h3>File Info:</h3>
                <p>Title: <%= file.title %></p>
                <p>Description: <%= file.description %></p>
                <p>Filename: <%= file.filename %></p>
            </div>
        <% }); %>
    <% } else { %>
        <p>No files available.</p>
    <% } %>

    <!-- Downloads Info -->
    <% if (downloads && downloads.length > 0) { %>
        <% downloads.forEach((count) => { %>
          <div class="downloads-info">
            <h3>Downloads Info:</h3>
            <p>Number of Downloads: <%= count %></p>
          </div>
        <% }); %>
      <% } else { %>
        <p>No download information available.</p>
      <% } %>

    <!-- Email Info -->
    <% if (emails && emails.length > 0) { %>
        <% emails.forEach((count) => { %>
            <div class="email-info">
                <h3>Email Info:</h3>
                <p>Number of Files Sent via Email: <%= count %></p>
            </div>
        <% }); %>
    <% } else { %>
        <p>No email information available.</p>
    <% } %>
      </div>
</body>
</html>