<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My dashboard</title>
    <link rel="stylesheet" href="/user-dashboard.css">
</head>
<body>
    <p>User dashboard</p>
    <p>User's dashboard</p>
    <div class="container">
        <!-- Search -->
        <div class="search">
            <form action="/search" method="get">
              <label for="search-input">Search:</label>
              <input type="text" id="search-input" name="searchTerm">
              <button type="submit">Search</button>
            </form>
            <a href="/logout">Logout</a>
          </div>
        <h1>User Page</h1>
          <br>
          

          <div class="file-list">
            <!-- File List -->
            <% if (typeof files !== 'undefined' && files.length > 0) { %>
              <% files.forEach((file) => { %>
                <div class="file-item">
                  <h3><%= file.title %></h3>
                  <p>Description: <%= file.description %></p>
                  <form method="post" action="/send-email/<%= file.filename %>">
                    <input type="hidden" name="filename" value="<%= file.filename %>">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" value="<%= email || '' %>" required>
                    <button type="submit">Send via Email</button>
                  </form>
                  <a class="download-button" href="/uploads/<%= file.filename %>">Download</a>
                  <div class="counts">
                    <p>Downloads: <%= file.download_count || 0 %></p>
                    <p>Emails: <%= file.email_count || 0 %></p>
                  </div>
                </div>
              <% }); %>
            <% } else { %>
              <p>No files available.</p>
            <% } %>
          </div>
          
        </div>
       
    

</body>
</html>